$primary_color: #FF59AC;
$foreground_color: #000;
$secondary_color: #FFFFB1;
$white: #FFFFFF;
$font-stack: 'Inter', sans-serif;
$base-padding: 4rem;
$modal-selector: ".modal";
$active-class: "active";

$gallery-size-large: 150px;
